@keyframes fadeOut {
  0% {
    top: 0;
  }
  100% {
    top: -200px;
  }
}

@keyframes fadeIn {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}

.confirm-appear {
  animation: fadeIn 0.7s linear;
}

.confirm-disappear {
  animation: fadeOut 0.9s linear forwards;
}
